
.main-apartment-card-container {
    background-color: white;
    width: 380px;
    height: auto;
    padding: 1em;
}

.apartment-card-section-1 {
    background-image: url("media/bad-apartment1.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;

}

.apartment-card-subcontainer {
    display: flex;
    flex-flow: column;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.price-like-share {
    display: flex;
    flex-grow: 1;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.logos {
    align-self: center;
    display: flex;
    gap: 1em;
    color: black;
    background-color: lightgray;
    padding: 0.3rem;
}

.price-like-share > p {
    color: black;
    background-color: lightgray;
    padding: 0.3rem;
}

.apartment-card-section-2, .apartment-card-section-3 {
    padding: 1rem;
}

.apartment-card-section-2 > p:first-of-type {
    font-size: 1.5rem;
    font-weight: 800;
}

.apartment-card-section-2 > p:first-of-type + p > span { 
    opacity: 50%;
}

.apartment-card-section-2 > p:last-of-type > span {
    font-weight: 900t
}

.apartment-card-section-2 {
    display: flex;
    flex-flow: column;
}

.apartment-card-section-2 > p {
    margin: 0.2rem;
}

.apartment-card-section-2 > ul {
    display: flex;
    list-style: none;
    flex-flow: row;
    padding-left: 0;
    gap: 2rem;
    justify-content: space-around;
}

.apartment-card-section-2 > li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 50%;
}

.apartment-card-section-3 {
    border-top: 1px solid grey;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

button {
    background-color: rgb(93, 93, 190);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
}