body {
    background-color: lightgray;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}

.main-apartment-card-container {
    background-color: white;
    width: 380px;
    height: auto;
    padding: 1em;
}

.apartment-card-section-1 {
    background-image: url("media/bad-apartment1.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;

}

.apartment-card-subcontainer {
    display: flex;
    flex-flow: column;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.price-like-share {
    display: flex;
    flex-flow: row;
    justify-content: end;
}

.logos {
    align-self: center;
}