<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <div class="about-container">
        <p>Who we are</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, illum est asperiores 
            sapiente culpa corporis amet quos repellat cupiditate rerum cumque minus mollitia voluptatum facere
             enim dolor voluptatibus ipsum qui aut illo nulla. Reiciendis, aut? Recusandae saepe accusantium 
             voluptatibus dolore nesciunt unde id distinctio deleniti iste sequi vel sint optio explicabo commodi, 
             modi nulla sapiente in repudiandae, sit veniam, repellendus nisi assumenda quae libero. Quibusdam porro
              amet culpa temporibus, unde eligendi ex dignissimos totam quam soluta reiciendis tempora natus magnam
               sit perferendis! Reprehenderit vel quidem voluptas blanditiis asperiores recusandae nesciunt! Ratione
                officiis voluptatem temporibus dolores excepturi minus dolorum animi asperiores!
        </p>
    </div>
</body>
</html>