<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/apartment-page.css">
    <script src="js/apartment-page.js"></script>
    <script src="https://kit.fontawesome.com/215e6dddbe.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="apartment-page-main-container">
        <header>
            <div class="container-1">
                <p>Lorem ipsum dolor sit amet.</p>
                <p><i class="fa-solid fa-location-dot"></i> Lorem ipsum dolor sit amet consectetur adipisicing. <span><a href="#">Great location-show map</a></span></p>
            </div>
            <div class="container-2">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share-nodes"></i>
                <button>Reserve</button>
            </div>
        </header>
        <main>
            <div class="section-1">
                <div class="slideshow-container">
                    <div class="mySlides fade slide-1">
                    <div class="numbertext">1 / 3</div>
                    <img src="css/media/slideshow-example1.jpg" style="width:100%">
                    <div class="text">Caption Text</div>
                    </div>
                
                    <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="css/media/slideshow-example2.jpg" style="width:100%">
                    <div class="text">Caption Two</div>
                    </div>
                
                    <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="css/media/slideshow-example3.jpg" style="width:100%">
                    <div class="text">Caption Three</div>
                    </div>
                
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <div class="section-2">
                <div class="reviews">
                    <p>Guest reviews</p>
                    <div class="main-review-card">
                        <div class="section-1">
                            <div class="subsection-1-1">
                                <div class="profile-logo"><p>V</p></div>
                                <div class="subsection-1-1-1">
                                    <p class="profile-name">Vanya</p>
                                    <p>From: Bulgaria</p>
                                </div>
                            </div>
                            <p>Stayed: 1 night - <span>November 2023</span></p>
                        </div>
                        <div class="section-2">
                            <div class="section-2-1">
                                <p class="review-heading">
                                    Great Experience
                                </p>
                            <div class="review-star-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            </div>
                            <div class="section-2-2">
                                <p class="review-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                    Veritatis nulla voluptate ducimus enim ullam odit veniam 
                                    fugit blanditiis illum deserunt beatae 
                                    pariatur porro aut corrupti asperiores repellat, voluptatibus hic assumenda.</p>
                            </div>
                        </div>
                        <div class="section-3">
                            <div class="section-3-1">
                                <p class="review-score">10</p>
                            </div>
                            <div class="section-3-2">
                                <div class="section-3-2-1">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>Helpful</p>
                                </div>
                                <div class="section-3-2-2">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <p>Not helpful</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-review-card">
                        <div class="section-1">
                            <div class="subsection-1-1">
                                <div class="profile-logo"><p>V</p></div>
                                <div class="subsection-1-1-1">
                                    <p class="profile-name">Vanya</p>
                                    <p>From: Bulgaria</p>
                                </div>
                            </div>
                            <p>Stayed: 1 night - <span>November 2023</span></p>
                        </div>
                        <div class="section-2">
                            <div class="section-2-1">
                                <p class="review-heading">
                                    Great Experience
                                </p>
                            <div class="review-star-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            </div>
                            <div class="section-2-2">
                                <p class="review-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                    Veritatis nulla voluptate ducimus enim ullam odit veniam 
                                    fugit blanditiis illum deserunt beatae 
                                    pariatur porro aut corrupti asperiores repellat, voluptatibus hic assumenda.</p>
                            </div>
                        </div>
                        <div class="section-3">
                            <div class="section-3-1">
                                <p class="review-score">10</p>
                            </div>
                            <div class="section-3-2">
                                <div class="section-3-2-1">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>Helpful</p>
                                </div>
                                <div class="section-3-2-2">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <p>Not helpful</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-review-card">
                        <div class="section-1">
                            <div class="subsection-1-1">
                                <div class="profile-logo"><p>V</p></div>
                                <div class="subsection-1-1-1">
                                    <p class="profile-name">Vanya</p>
                                    <p>From: Bulgaria</p>
                                </div>
                            </div>
                            <p>Stayed: 1 night - <span>November 2023</span></p>
                        </div>
                        <div class="section-2">
                            <div class="section-2-1">
                                <p class="review-heading">
                                    Great Experience
                                </p>
                            <div class="review-star-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            </div>
                            <div class="section-2-2">
                                <p class="review-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                    Veritatis nulla voluptate ducimus enim ullam odit veniam 
                                    fugit blanditiis illum deserunt beatae 
                                    pariatur porro aut corrupti asperiores repellat, voluptatibus hic assumenda.</p>
                            </div>
                        </div>
                        <div class="section-3">
                            <div class="section-3-1">
                                <p class="review-score">10</p>
                            </div>
                            <div class="section-3-2">
                                <div class="section-3-2-1">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>Helpful</p>
                                </div>
                                <div class="section-3-2-2">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <p>Not helpful</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="property-description">
                    <p>About the property</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim illum earum labore? Maiores ab provident consequatur nobis veniam facilis nemo nesciunt voluptates exercitationem, velit dolorum, enim at quas beatae ullam eum laborum quo necessitatibus iste natus minima. Doloribus blanditiis consectetur laudantium commodi reiciendis quis illum tempora ex delectus adipisci?</p>
                    <p>Culpa commodi nostrum beatae fugit assumenda! Pariatur illo aliquid fugit exercitationem incidunt tenetur perferendis sint sequi obcaecati veniam, quasi perspiciatis, reiciendis itaque amet quidem atque quibusdam eum libero asperiores, quam ducimus? Maxime eligendi dolore quo nihil nostrum qui, voluptate incidunt nemo nisi et quae necessitatibus minima ad commodi harum laboriosam sed accusamus nobis veritatis architecto expedita. Dolores, laborum quia! Provident aperiam facilis esse quia? Dolores corrupti velit vel maxime, optio cum, a adipisci voluptatibus vero ducimus nemo itaque repellat aspernatur alias sapiente rem amet eum quas.</p>
                    <p>Animi ipsum non odio aperiam. Consequatur expedita eveniet sapiente quisquam facere tempora illo nobis ab omnis voluptas atque non nihil ullam dolores ut fugiat quis obcaecati esse, in, quos aperiam sit. Ipsum excepturi assumenda exercitationem aut, consectetur voluptas iste quia vel nisi itaque quod illo esse voluptates repellendus ducimus blanditiis qui voluptate architecto saepe eum corrupti sit accusantium pariatur aspernatur?</p>
                    <p>Non aperiam ad optio atque rem vitae ea quisquam libero, fuga illum animi, facilis aut at harum vero assumenda nemo quidem cum, veniam alias deleniti dignissimos commodi iusto. Nemo, reprehenderit dignissimos? Possimus dolor in pariatur eaque ratione aliquid deserunt magni aperiam facilis assumenda neque, tempora eveniet nobis earum nulla, voluptatum veniam ducimus et ipsum dolore ab, odio suscipit.</p>
                    <p>Qui in deserunt ratione et cupiditate ex ea saepe aperiam voluptas fugiat hic error illo, quidem veritatis! Soluta aliquid at optio corporis perspiciatis placeat quibusdam consequuntur nobis. Doloremque perferendis blanditiis deleniti adipisci iusto beatae nam soluta tempora tempore, cumque architecto facilis quos suscipit quisquam corrupti dignissimos.</p>
                </div>
            </div>
            <div class="section-3">
                <p>Reserve now!</p>
                <form action="">

                    <div class="form-section-1">
                        <label for="name">Name</label>
                        <input type="text">
                    </div>

                    <div class="form-section-3">
                        <label for="check-in">Check-in</label>
                        <input type="date">
                    </div>
                    <div class="form-section-4">
                        <label for="check-out">Check-out</label>
                        <input type="date">
                    </div>

                    <div class="form-section-2">
                        <label for="number-guests">Number guests</label>
                        <input type="number">
                    </div>
                    <button type="submit">Reserve</button>
                </form>
            </div>
            </div>
        </main>
    </div>
</body>
</html>