<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <script src="https://kit.fontawesome.com/215e6dddbe.js" crossorigin="anonymous"></script>
    <title>Home page</title>
</head>
<body>
    <div class="home-page-main-container">
        <header>
            <div class="logo"><a href="#"><img src="css/media/logo.png" alt=""></a></div>
            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Manage account</a></li>
                    <li><a href="#">Apartments</a></li>
                    <li><a href="#">Reserve</a></li>
                    <li><a href="#">My Reservations</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="section-1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, velit.</p>    
            </div>
            <div class="section-2">
                <p>available listings</p>
                <div class="listings-container">
                    <div class="main-apartment-card-container">
                        <div class="apartment-card-subcontainer">
                            <div class="apartment-card-section-1">
                                <div class="price-like-share">
                                    <p>from 1111</p>
                                    <div class="logos">
                                        <i class="fa-solid fa-share-nodes"></i>
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="apartment-card-section-2">
                                <p>Lorem, ipsum dolor.</p>
                                <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                                <p><span>Lorem:</span>ipsum dolor.</p>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-door-open"></i>
                                        <p>2 rooms</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-bed"></i>
                                        <p>2 beds</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-person"></i>
                                        <p>3 persons</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="apartment-card-section-3">
                                <button><a href="#">book now</a></button>
                            </div>
                        </div>        
                    </div>
                    <div class="main-apartment-card-container">
                        <div class="apartment-card-subcontainer">
                            <div class="apartment-card-section-1">
                                <div class="price-like-share">
                                    <p>from 1111</p>
                                    <div class="logos">
                                        <i class="fa-solid fa-share-nodes"></i>
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="apartment-card-section-2">
                                <p>Lorem, ipsum dolor.</p>
                                <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                                <p><span>Lorem:</span>ipsum dolor.</p>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-door-open"></i>
                                        <p>2 rooms</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-bed"></i>
                                        <p>2 beds</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-person"></i>
                                        <p>3 persons</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="apartment-card-section-3">
                                <button><a href="#">book now</a></button>
                            </div>
                        </div>        
                    </div>
                    <div class="main-apartment-card-container">
                        <div class="apartment-card-subcontainer">
                            <div class="apartment-card-section-1">
                                <div class="price-like-share">
                                    <p>from 1111</p>
                                    <div class="logos">
                                        <i class="fa-solid fa-share-nodes"></i>
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-regular fa-heart"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="apartment-card-section-2">
                                <p>Lorem, ipsum dolor.</p>
                                <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                                <p><span>Lorem:</span>ipsum dolor.</p>
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-door-open"></i>
                                        <p>2 rooms</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-bed"></i>
                                        <p>2 beds</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-person"></i>
                                        <p>3 persons</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="apartment-card-section-3">
                                <button><a href="#">book now</a></button>
                            </div>
                        </div>        
                    </div>
                </div>
                <button><a href="#">browse more</a></button>
            </div>
            <div class="section-3">
                <p>guest reviews</p>
                <div class="main-review-card-container">
                    <div class="review-card">
                        <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
                        <div class="score-container">
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                        </div>
                        <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias 
                            praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum, 
                            numquam vitae natus? At odit, delectus architecto dolore quo modi quod. 
                            Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt 
                            animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
                        <p class="reviewer-name">Lorem Ipsum</p>
                    </div>
                    <div class="review-card">
                        <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
                        <div class="score-container">
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                        </div>
                        <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias 
                            praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum, 
                            numquam vitae natus? At odit, delectus architecto dolore quo modi quod. 
                            Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt 
                            animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
                        <p class="reviewer-name">Lorem Ipsum</p>
                    </div>
                    <div class="review-card">
                        <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
                        <div class="score-container">
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-solid fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                            <i class="fa-regular fa-star fa-xl"></i>
                        </div>
                        <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias 
                            praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum, 
                            numquam vitae natus? At odit, delectus architecto dolore quo modi quod. 
                            Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt 
                            animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
                        <p class="reviewer-name">Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>